@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="com-md-6 offset-md-3">
        <div class="card login-logout-tab">
            <div class="card-header">

            </div>
            <div class="card-content">

            </div>
        </div>
    </div>
</div>